.product{
    width: 300px;
    height: 510px;
}
.product img{
    width: 286px;
    height: 286px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}